.sn-advert {
  position: relative; }
  .sn-advert__link {
    display: block; }
  .sn-advert--video {
    text-align: center; }

.sn-advert-video-wrapper {
  display: inline-block;
  position: relative; }

.sn-advert-vol-control {
  display: block;
  position: absolute;
  z-index: 1;
  right: 5px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer; }
  .sn-advert-vol-control__on, .sn-advert-vol-control__off {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff; }
  .sn-advert-vol-control__on {
    display: none; }
