#adminmenu .wp-menu-image img {
    max-width: 25px;
    padding: 5px 0 0 0;
}

.ffc-rest-api-wrapper h2 {
    text-transform: uppercase;
}

.ffc-rest-api-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.ffc-rest-api-wrapper > .card {
    flex-wrap: wrap;
    width: 23%;
    margin: 10px;
    padding-bottom: 2em;
}

.ffc-rest-api-wrapper > .card-done {
    background-color: rgba(45,172,91,0.3);
    border-color: rgba(39, 145, 65, 0.3);
}

.done > span {
    color: #2dac5b;
}

.undone > span {
    color: #d8333f;
}

.doing > span {
    color: #e48e41;
}
